body {
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

div.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 60px;
  grid-template-areas:
    "image-sidebar detail"
    "image-sidebar form"
    "image-sidebar action"
    "footer footer";
  width: 100vw;
  height: 100vh;
}

div.image-logo-sidebar {
  grid-area: image-sidebar;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* Flex to position child photo credit element */
  display: flex;
  flex-direction: column;
}

div.logo {
  margin-top: 250px;
  padding: 1em 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

div.bottom-image-credit {
  /* Move element to bottom */
  margin-top: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

div.detail-section,
div.form-section,
div.action-section {
  padding: 0 3em;
}

div.detail-section {
  grid-area: detail;
  background-color: aqua;
}

div.form-section {
  grid-area: form;
  background-color: rgb(199, 226, 156);
  position: relative;
  z-index: 1;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.45);
}

form.sign-up {
  box-sizing: border-box;
  width: 50%;
  background-color: white;
  padding-right: 10%;
}

form.sign-up ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

form.sign-up ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form.sign-up li {
  flex-basis: 45%;
  flex-grow: 1;
}

form.sign-up input {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  width: 225px;
}

/* form.sign-up input:valid {
  border-color: green;
} */

form.sign-up input:invalid {
  border-color: red;
}

form.sign-up input:focus {
  outline: none !important;
  border: 1px solid blue !important;
  /* outline: 1px solid blue !important; */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .45);
}

div.action-section {
  grid-area: action;
  background-color: brown;
}

footer {
  grid-area: footer;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
