/* html {
  height: 100%;
  width: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  font-family: "Source Sans 3", sans-serif;
  overflow: hidden;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

div.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 60px;
  grid-template-areas:
    "image-sidebar detail"
    "image-sidebar form"
    "image-sidebar action"
    "footer footer";
  width: 100vw;
  height: 100vh;
}

div.image-logo-sidebar {
  grid-area: image-sidebar;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div.detail {
  grid-area: detail;
  background-color: aqua;
}

div.form {
  grid-area: form;
  background-color: blue;
}

div.action-section {
  grid-area: action;
  background-color: brown;
}

footer {
  grid-area: footer;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
